
.icon-flattr:before { content: '\e800'; } /* '' */
.icon-flattr-1:before { content: '\e801'; } /* '' */
.icon-bitcoin:before { content: '\e802'; } /* '' */
.icon-info-circled-alt:before { content: '\e803'; } /* '' */
.icon-paypal:before { content: '\e804'; } /* '' */
.icon-twtr:before { content: '\e805'; } /* '' */
.icon-twtr-1:before { content: '\e806'; } /* '' */
.icon-twtr-2:before { content: '\e807'; } /* '' */
.icon-info-circled:before { content: '\e808'; } /* '' */
.icon-mail:before { content: '\e809'; } /* '' */
.icon-mail-alt:before { content: '\e80a'; } /* '' */