html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 80px;
	margin-top: -20px;
}

.navbar-nav>li>a.btn-success {
    color: white;
	font-weight: bold;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 80px;
	background-color: #f5f5f5;
}

.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
	margin-top: -20px;
}

.axis path {
	fill: none;
	stroke: #777;
	shape-rendering: crispEdges;
}

.axis text {
	font-family: Helvetica;
	font-size: 13px;
}

.tick line {
    stroke: black;
    opacity: 0.2;
}

.main {
	font: 1em sans-serif;
	color: #404040;
}

.main .title {
    text-align: center;
}

.main .label {
	font: 1.5em sans-serif;
}

.main .readout {
	font: 1.2em sans-serif;
}

.main input {
	padding:3px 5px;
	font: .8em sans-serif;
}

.main .button {
	border: solid 1px #e0e0e0;
	background-color: #eee;
	border-radius: 3px;
	padding:3px 10px;
	font-size: .8em
}

.scrollable-menu {
    height: auto;
    max-height: 400px;
    overflow-x: hidden;
}
