<div class="modal-header">
	<h3 class="modal-title">Donate!</h3>
</div>
<div class="modal-body">
	<div class="container col-md-12">
		<row>
			<p class="col-md-12">Was this information valuable to you? Want to help keep this info up to date and improving? Why not donate!</p>
		</row>
		<row>
			<form class="col-md-6" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_donations">
                <input type="hidden" name="business" value="ZC2KZNQHBAUV8">
                <input type="hidden" name="lc" value="CA">
                <input type="hidden" name="item_name" value="Graph Tax">
                <input type="hidden" name="item_number" value="graphtax.com">
                <input type="hidden" name="currency_code" value="USD">
                <input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest">
				<button type="submit" class="btn btn-primary btn-lg col-md-12" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"><i class="fa fa-paypal"></i> PayPal</button>
				<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
			</form>
			<form class="col-md-6">
				<a href="https://blockchain.info/address/1MyvSvHdigFn6bwvEBngRjAiHYTr6sJd1N" class="btn btn-primary btn-lg col-md-12" type="button"><i class="glyphicon glyphicon-bitcoin"></i> Bitcoin</a>
			</form>
		</row>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
